@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{padding: 0; margin: 0 auto; box-sizing: border-box; font-family:'Poppins';  color: white; border: 0;}

body{
  background: #121212;
}


.box{
  background: #121212;;
  max-width: 940px;
  width: 80%;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.menuVertical{
  position: absolute;
  width: 100%;
  height: 96px;
  left: 0px;
  top: 0px; 
  text-align: center; 
  position: fixed;
}

.menuVertical li{
  width: 96px;
  height: 96px;
}

fieldset{
  border: 0; 
  margin-bottom: 2em; 
}

.campo{
  
  justify-content: center;
  margin-left: 70px;
  width: 40%;
}

 
.campo label{
  font-size: 24px;
  margin-bottom:2em;
  
}

fieldset.grupo .campo{
 float: left;
 padding-bottom: 4em;
}

#nome.entrada, #senha.entrada,#email.entrada{
  

}
.campo input[type="text"], .campo input[type="email"], .campo input[type="password"]{
  font-size: 24px;
  background: #252525;
  padding: 0.2em 0.8em;
  display: block;
  height: 53px;
  border-radius: 4px;
  width: 100%;
 /* transform: translateY(-10%);*/
  
}
.divSubmit{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}

.divSubmit input[type="submit"]{
  font-size: 36px;
  font-weight: 800;
  background: #3700B3;
  border-radius: 8px;
  padding: 0.2em 2em;
  margin-top: 4em;

}

@media screen and (max-width: 900px) {
  .campo{
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  .campo input[type="text"], .campo input[type="email"], .campo input[type="password"]{
    font-size: 16px;
    
    background: #252525;
    padding: 0.2em 0.8em;
    display: block;
    height: 53px;
    border-radius: 4px;
    width: 100%;
   /* transform: translateY(-10%);*/
    
  }
  .campo label{
    font-size: 20px;
    margin-bottom:2em;
    
  }
  .divSubmit input[type="submit"]{
    font-size: 24px;
    font-weight: 800;
    background: #3700B3;
    border-radius: 8px;
    padding: 0.2em 2em;
    margin-top: 4em;
  
  }
}